# app requirements
flask
flask-cors
flask-restful
pymongo[srv]
gunicorn
algoliasearch

# scheduled-function requirements
requests
pymongo
pymongo[srv]
numpy
nltk
feedparser
shortuuid
algoliasearch
Pillow