header {
    position: fixed;
    height: 48px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);

    z-index: 9999;
}

#inner-header-container {
    max-width: 1172px;
    height: inherit;

    margin: auto;
    padding: 0 16px; 

    display: flex;
    justify-content: space-between;
    align-items: center;

    line-height: 32px;
    font-family: Archivo;
    font-weight: 600;
    font-size: 36px;
    color: var(--black)
}

#logo {
    white-space: nowrap;
}

#purple {
    color: var(--purple);
    font-weight: bold;
}

.page-link {
    font-size: 24px;
}

#page-links {
    display: grid;
    column-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}