header {
    position: fixed;
    height: 48px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);

    z-index: 9999;

    line-height: 32px;
    font-family: Archivo;
    font-weight: 600;
    font-size: 36px;
    color: var(--black)
}

#inner-header-container {
    max-width: 1172px;
    height: inherit;

    margin: auto;
    padding: 0 16px; 

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 9999;
}

#logo {
    white-space: nowrap;
}

#purple {
    color: var(--purple);
    font-weight: bold;
}

.page-link {
    font-size: 24px;
}

#page-links {
    display: grid;
    column-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

[class$=mobile] {
    display: none;
}

input#button-checkbox-mobile {
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 100;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    [class$=mobile] {
        display: block;
    }
    #logo {
        font-size: 32px;
    }
    #page-links {
        display: none;
    }
    #page-links-mobile {
        position: fixed;
        top: 47px;
        right: 0;
        width: 100%;
        background-color: white;

        grid-template-columns: 1fr;

        box-shadow: 0px 12px 12px  rgba(0, 0, 0, 0.05);
    }

    .page-link-mobile {
        text-align: left;
        box-sizing: border-box;
        padding-left: 32px;
        font-size: 24px;
        line-height: 36px;
        height: 36px;
    }
    #button-mobile {
        position: absolute;
        right: 12px;
        width: 48px;
        height: 48px;
    }
    input#button-checkbox-mobile:not(:checked) + #page-links-mobile {
        display: none;
    }
    #button-mobile span {
        left: 0;
        right: 0;

        margin: 0 auto;

        position: absolute;
        width: 32px;
        height: 3px;
        color: black;
        background-color: var(--near-black);

        z-index: -1;
    }

    #button-mobile span:nth-last-child(1) {
        top: 12px;
    }
    #button-mobile span:nth-last-child(2) {
        top: 0px;
        bottom: 0px;
        margin: auto;
    }
    #button-mobile span:nth-last-child(3) {
        bottom: 12px;
    }
  }