:root {
    --body-width: 1172px;
    
    --purple: #8A2BE9;
    --blue: #2B2BE9;
    --red: #E92B2B;
    --black: #0E1212;
    --near-black: #292929;
    --gray: #666666;
    --light-gray: #E9E9E9;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}