#cards {
    align-self: start;
    grid-column: 1/span 3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;

    grid-auto-flow: dense;

    margin-top: 80px;
}

img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

[class|=card-image] {
    height: 100%;
}

[class|=card-base] {
    justify-self: stretch;
    align-self: stretch;
    
    height: 272px;
}

[class|=card-text] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

[class|=card-title] {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    color: var(--near-black);
}

[class|=card-date] {
    font-weight: 500;
    color: var(--gray);
    font-size: 24px;
    line-height: 24px;
}

[class|=card-sources] {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: var(--gray);

    height: 28px;

    display: flex;
    align-items: center;
}

.card-base-sm {
    grid-column: auto / span 1;

    display: grid;
    grid-template-rows: repeat(9, 1fr);
}

.card-image-sm {
    grid-row: 1 / span 5;
}

.card-text-sm {
    grid-row: 6 / span 4;
}

.card-title-sm {
    font-size: 18px;
    line-height: 22px;

    margin-top: 6px;
}

.card-date-sm {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.card-sources-sm {
    display: none;
}

[class|=card-base-md] {
    grid-column: auto / span 3;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 32px;
}

.card-base-md-1 {
    margin-right: 32px;
}

.card-base-md-2 {
    margin-left: 32px;
}

[class|=card-image-md] {
    grid-column-end: span 4;
    grid-row: 1 / 1;
    height: inherit;
}

.card-image-md-1 {
    grid-column-start: 1;
}

.card-image-md-2 {
    grid-column-start: 6;
}

.card-text-md-1 {
    grid-column-start: 5;
}

.card-text-md-2 {
    grid-column-start: 1;
    text-align: right;
}

[class|=card-text-md] {
    grid-column-end: span 5;
}

.card-base-lg {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    height: 576px;

    display: grid;
    grid-template-rows: repeat(9, 1fr);
}

.card-image-lg {
    grid-row: 1 / span 5;
}

.card-text-lg {
    grid-row: 6 / span 4;
    margin-top: 12px;
}