#cards {
    align-self: start;
    grid-column: 1/span 3;

    margin-top: 48px;

    position: relative;
}

img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

[class|=card-group] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 32px;

    padding: 16px 0;

    position: relative;
}

[class|=card-base] {
    justify-self: stretch;
    align-self: stretch;
    
    height: 272px;

    position: relative;
}

[class|=card-base] [class|=card-title] {
    transition: 0.3s;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
}

[class|=card-base]:hover [class|=card-title] {
    text-decoration-color: var(--purple);
}

[class|=card-image] {
    height: 100%;
}

[class|=card-text] {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

[class|=card-title] { 
    line-height: 40px;
    font-weight: 600;
    color: var(--near-black);
}

[class|=card-title].title-sm {
    font-size: 36px;
    line-height: 40px;
}

[class|=card-title].title-md {
    font-size: 40px;
    line-height: 44px;
}

[class|=card-title].title-lg {
    font-size: 44px;
    line-height: 48px;
}

[class|=card-title].title-xl {
    font-size: 51px;
    line-height: 55px;
}

[class|=card-date] {
    font-weight: 500;
    color: var(--gray);
    font-size: 24px;
    line-height: 24px;
}

[class|=card-sources] {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: var(--gray);

    height: 28px;

    display: flex;
    align-items: center;
}

.card-base-sm {
    grid-column: auto / span 1;

    display: grid;
    grid-template-rows: repeat(9, 1fr);
}

.card-image-sm {
    grid-row: 1 / span 5;
}

.card-text-sm {
    grid-row: 6 / span 4;
}

.card-title-sm {
    margin-top: 6px;
}

.card-title-sm.title-sm {
    font-size: 18px;
    line-height: 22px;
}

.card-title-sm.title-md {
    font-size: 20px;
    line-height: 23px;
}

.card-title-sm.title-lg {
    font-size: 21px;
    line-height: 24px;
}

.card-title-sm.title-xl {
    font-size: 24px;
    line-height: 27px;
}

.card-date-sm {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.card-sources-sm {
    display: none;
}

[class|=card-base-md] {
    grid-column: auto / span 3;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 32px;
}

.card-base-md-1 {
    padding-right: 32px;
}

.card-base-md-2 {
    padding-left: 32px;
}

[class|=card-image-md] {
    grid-column-end: span 4;
    grid-row: 1 / 1;
    height: inherit;
}

.card-image-md-1 {
    grid-column-start: 1;
}

.card-image-md-2 {
    grid-column-start: 6;
}

.card-text-md-1 {
    grid-column-start: 5;
}

.card-text-md-2 {
    grid-column-start: 1;
    text-align: right;
}

[class|=card-text-md] {
    grid-column-end: span 5;

}

.card-sources-md-2 {
    justify-content: flex-end;
}

.card-base-lg {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    height: 576px;

    display: grid;
    grid-template-rows: repeat(9, 1fr);
}

.card-image-lg {
    grid-row: 1 / span 5;
}

.card-text-lg {
    grid-row: 6 / span 4;
    margin-top: 12px;
}

/* ASTHETIC SEPARATORS */

[class|="card"]::before {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: -1;

    border-color: var(--light-gray);
    border-width: 1px;
}

[class|=card-group]:first-child::before, [class|=card-group]:last-child::before {
    border-bottom-style: none;
}

.card-group-1 [class|=card-base-md]::before {
    bottom: -16px;
    border-bottom-style: solid;
}

.card-group-1::before {
    top: 16px;
    right: -16px;
    bottom: 16px;
    border-right-style: solid;
}

.card-group-2 .card-base-lg::before {
    right: -16px;
    border-right-style: solid;
}

.card-group-2::before {
    border-bottom-style: solid;
}

.card-group-3 .card-base-lg::before {
    left: -16px;
    border-left-style: solid;
}

.card-group-3::before {
    border-bottom-style: solid;
}

.card-group-4::before {
    top: 16px;
    left: -16px;
    bottom: 16px;
    border-left-style: solid;
}